.searchrow{
  margin-left: 10px !important;
  margin-right: 10px !important;
  top:20px;
}
.seachbox{
      top: 177px;
}

@media only screen and (max-width: 500px) {
  .map-filter-wrapper{
        display: none;
  }
}

@media only screen and (max-width: 992px) {
  .map-filter-wrapper{
        display: none;
  }
}
